body{
  background-color: rgb(232, 235, 238);
}

.container{
  padding-top: 30px;
}

.photo_item{
  display: inline-block;
  max-width: 150px;
  margin: 10px;
  color: #1616a4;
}

.photo_item p{
  padding: 5px;
}